<div class="container">
    <button class="btn btn-primary float-end" (click)='linkToItem()'>
        Новый
      </button>
    <h1 style="margin-top:20px ;">Словарь типов</h1>
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" style="width: 50px; text-align: center;">id</th>
                <th scope="col">Имя </th>
                <th scope="col">Фамилия</th>
                <th scope="col">Отчество</th>
                <th scope="col">Должность</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let personal of personals" (click)="linkToItem(personal.id)">
                <th scope="row" style="text-align: center;">{{personal.id}}</th>
                <td>{{personal.name}}</td>
                <td>{{personal.surname}}</td>
                <td>{{personal.patronymic}}</td>
                <td>{{getTypeName(personal.type)}}</td>
            </tr>
        </tbody>
    </table>
</div>